### Python Tasks_04

Užduotys su list, tuple, dict, set:

In [1]:
# 1. Sukurkite sąrašą su 5 parduotų produktų pavadinimais (list) ir atspausdinkite pirmą ir paskutinį naudodami indeksus.
# 1. Create a list containing the names of 5 sold products and print the first and last items using indexes.

products = ["Milk", "Bread", "Cheese", "Apples", "Butter"]

print(products[0])
print(products[-1])

Milk
Butter

In [3]:
# 2. Sukurkite tuple su klientų vardais. Paverskite jį į sąrašą, pridėkite naują vardą ir vėl konvertuokite į tuple.
# 2. Create a tuple containing customer names. Convert it into a list, add a new name, and then convert it back into a tuple.

customers = ("Ana", "Manul", "Mindaugas")
print(customers)
customers_list = list(customers)
print(customers_list)
customers_list.append("Donatas")
print(customers_list)
customers = tuple(customers_list)
print(customers)

('Ana', 'Manul', 'Mindaugas')
['Ana', 'Manul', 'Mindaugas']
['Ana', 'Manul', 'Mindaugas', 'Donatas']
('Ana', 'Manul', 'Mindaugas', 'Donatas')

In [9]:
# 3. Turite sąrašą kainų [10, 20, 15, 30]. Konvertuokite į set ir parodykite, kiek yra unikalių kainų. Naudokite set() ir len().
# 3. You have a list of prices [10, 20, 15, 30]. Convert it into a set and show how many unique prices there are. Use set() and len().

prices = [10, 20, 15, 30]
prices_set = set(prices)
print(f"Count of unique prices: {len(prices_set)}")

Count of unique prices: 4

In [12]:
# 4. Sukurkite žodyną (dict) su produkto pavadinimu kaip raktu ir pardavimų skaičiumi kaip reikšme. Pakeiskite vieno produkto reikšmę.
# Naudokite dict indeksavimą.

# 4. Create a dictionary (dict) with the product name as the key and the number of sales as the value.
# Update the value of one product using dictionary indexing.

sales = {"Bread": 10, "Milk": 20, "Cheese": 6}
print(sales)
sales["Milk"] = 18
print(f"After update price: {sales}")

{'Bread': 10, 'Milk': 20, 'Cheese': 6}
After update price: {'Bread': 10, 'Milk': 18, 'Cheese': 6}

In [14]:
# 5. Turite list = ["A", "B", "C"] ir set = {"B", "C", "D"}. Raskite bendrus elementus (naudoti set operaciją: intersection).
# 5. You have a list = ["A", "B", "C"] and a set = {"B", "C", "D"}. Find the common elements (use a set operation: intersection).

my_list = ["A", "B", "C"]
my_set = {"B", "C", "D"}

list_set = set(my_list)
common = list_set.intersection(my_set)
print(f"Intersection of two sets: {common}")

Intersection of two sets: {'C', 'B'}

In [15]:
# 6. Sukurkite tuple su pelnais kiekvieną mėnesį (12 reikšmių). Išskaičiuokite vidutinį pelną naudodami sum() ir len().
# 6. Create a tuple containing profits for each month (12 values). Calculate the average profit using sum() and len().

profits = (1200, 1500, 1100, 1800, 1700, 1600, 1400, 1550, 1650, 1750, 1900, 2000)
average_profit = sum(profits) / len(profits)

print(f"Average profit: {average_profit}")

Average profit: 1595.8333333333333

In [16]:
# 7. Sukurkite dict, kuriame raktais yra mėnesiai (sausis, vasaris...) o reikšmė – pelnas. Apskaičiuokite visų mėnesių sumą.
# 7. Create a dictionary where the keys are months (January, February, etc.) and the values are profits. Calculate the total profit for all months.

profits = {
    "sausis": 1200,
    "vasaris": 1500,
    "kovas": 1100,
    "balandis": 1800,
    "gegužė": 1700,
    "birželis": 1600,
    "liepa": 1400,
    "rugpjūtis": 1550,
    "rugsėjis": 1650,
    "spalis": 1750,
    "lapkritis": 1900,
    "gruodis": 2000,
}

total_profit = sum(profits.values())
print(f"Total profit: {total_profit}")

Total profit: 19150

In [32]:
from datetime import datetime

# 8. Sukurkite list su pirkimo datomis tekstu (pvz. '2023-01-01') ir konvertuokite jas į datetime objektus naudojant datetime.strptime.
# 8. Create a list of purchase dates as strings (e.g., '2023-01-01') and convert them into datetime objects using datetime.strptime.

dates_str = ["2023-01-01", "2023-02-15", "2023-03-10"]
dates = []

for d in dates_str:
    dates.append(datetime.strptime(d, "%Y-%m-%d"))

print(dates_str)
print(dates[-1])

['2023-01-01', '2023-02-15', '2023-03-10']
2023-03-10 00:00:00

In [28]:
# 9. Apskaičiuokite kiek dienų praėjo nuo kiekvienos pirkimo datos iki šiandienos (datetime.date.today()) ir atspausdinkite.
# 9. Calculate how many days have passed from each purchase date until today (datetime.date.today()) and print the results.
from datetime import date, datetime

purchase_dates = [
    datetime.strptime("2022-01-03", "%Y-%m-%d").date(),
    datetime.strptime("2023-04-30", "%Y-%m-%d").date(),
    datetime.strptime("2026-01-25", "%Y-%m-%d").date(),
]

today = date.today()
for d in purchase_dates:
    days_passed = (today - d).days
    print(days_passed)

1485
1003
2

In [29]:
# 10. Sukurkite žodyną, kuriame raktais yra produkto pavadinimai, o reikšmė – sąrašas mėnesinių pardavimų.
# Raskite bendrą sumą kiekvienam produktui naudodami for ciklą ir sum().

# 10. Create a dictionary where the keys are product names and the values are a list of monthly sales.
# Using a for loop and sum(), calculate the total sales for each product.

sales = {"Bread": [4, 12, 16, 8], "Milk": [10, 15, 16, 21], "Cheese": [6, 9, 21, 16]}

for product, monthly_sales in sales.items():
    total = sum(monthly_sales)
    print(f"Product {product} costed in total {total}")

Product Bread costed in total 40
Product Milk costed in total 62
Product Cheese costed in total 52

### Funkcijų kūrimo užduotys (duomenų analitika):
### Tasks for Creating Functions (Data Analytics):

In [37]:
# 1. Parašykite funkciją, kuri priima skaičių ir grąžina tą skaičių padaugintą iš 2.
# 1. Write a function that takes a number and returns that number multiplied by 2.


def multiply_by_two(number):
    return number * 2


a = int(input("Enter a number to be multiplied by two.: "))
result = multiply_by_two(a)
print(f"Number multiplied by two: {result}")

Number multiplied by two: 8

In [42]:
# 2. Sukurkite funkciją, kuri grąžina konversijos rodiklį (conversion rate), jei pateikiamas vartotojų skaičius ir pirkėjų skaičius.
# Naudoti: (pirkėjai / vartotojai) * 100.
# 2. Create a function that returns the conversion rate when the number of users and the number of buyers are provided.
# Use: (buyers / users) * 100.


def conversion_rate(users, buyers):
    if users == 0:
        return 0
    return (buyers / users) * 100


rate = conversion_rate(1, 25)
print(rate)

2500.0

In [43]:
# 3. Parašykite funkciją, kuri skaičiuoja CTR (click-through rate): paspaudimai / parodymai * 100.
# 3. Write a function that calculates CTR (click-through rate): clicks / impressions * 100.


def ctr(clicks, impressions):
    if impressions == 0:
        return 0
    return (clicks / impressions) * 100


result = ctr(20, 18)
print(result)

111.11111111111111

In [47]:
# 4. Sukurkite funkciją, kuri apskaičiuoja vidutinę reikšmę iš pateikto sąrašo skaičių. Naudoti sum() ir len().
# 4. Create a function that calculates the average value from a given list of numbers. Use sum() and len().


def average(numbers):
    if len(numbers) == 0:
        return 0
    return sum(numbers) / len(numbers)


result = average([2, 4, 6])
print(result)

4.0

In [48]:
# 5. Parašykite funkciją, kuri grąžina skirtumą tarp dviejų skaičių – naudinga apskaičiuoti mėnesio pokytį.
# 5. Write a function that returns the difference between two numbers – useful for calculating monthly change.


def difference(current, previous):
    return current - previous


change = difference(40, 70)
print(change)

-30

In [50]:
# 6. Sukurkite funkciją, kuri priima pajamų ir išlaidų sąrašus ir grąžina bendrą pelną kiekvienam laikotarpiui (pajamos - išlaidos).
# 6. Create a function that takes lists of revenues and expenses and returns the total profit for each period (revenue − expenses).


def total_profit(revenues, expenses):
    try:
        if len(revenues) != len(expenses):
            raise ValueError("Revenues and expenses lists must be of the same length")

        result = []
        for r, e in zip(revenues, expenses):
            result.append(r - e)

        return result

    except ValueError as error:
        print(error)
        return None


my_revenues = [150, 300, 432, 64]
my_expenses = [345, 15, 389, 33.33]

my_profit = total_profit(my_revenues, my_expenses)
print(my_profit)

[-195, 285, 43, 30.67]

In [51]:
# 7. Parašykite funkciją, kuri suskaičiuoja, kiek kartų reikšmė 'neaktyvus' yra pateiktame sąraše naudotojų būsenų.
# 7. Write a function that counts how many times the value 'inactive' appears in a given list of user statuses.


def count_inactive(statuses):
    return statuses.count("neaktyvus")


statuses = ["aktyvus", "neaktyvus", "aktyvus", "neaktyvus", "neaktyvus"]
print(count_inactive(statuses))

3

In [54]:
# 7.2


def count_inactive(statuses):
    count = 0

    for status in statuses:
        if status == "neaktyvus":
            count += 1

    return count


print(
    count_inactive(
        ["aktyvus", "aktyvus", "neaktyvus", "sustabdytas", "neaktyus", "neaktyvus"]
    )
)

2

In [56]:
# 8. Parašykite funkciją, kuri priima dict su pardavimais pagal regioną ir grąžina regioną su didžiausia pardavimų suma. Naudoti max().
# 8. Write a function that takes a dictionary of sales by region and returns the region with the highest total sales. Use max().

sales_by_region = {"North": 1200, "South": 950, "East": 1430, "West": 1100}


def best_region(sales):
    return max(sales, key=sales.get)


print(best_region(sales_by_region))

East