# `datetime` biblioteka be pandas

Demonstraciniai pavyzdžiai naudojant tik `datetime` modulį – datų kūrimas, palyginimas, periodų analizė, biudžetų paskirstymas.

## 1. Dabartinė data ir laikas

In [1]:
import datetime

In [4]:

dabar = datetime.datetime.now()
print("Dabartinė data ir laikas:", dabar)

Dabartinė data ir laikas: 2026-02-01 19:27:19.425939

## 2. Datos kūrimas rankiniu būdu

In [5]:
gimimo_diena = datetime.date(1985, 5, 1)
print("Gimimo data:", gimimo_diena)

Gimimo data: 1985-05-01

## 3. Datos konvertavimas iš teksto (`strptime`)

In [8]:
data_tekstu = "2023-12-31"
data_obj = datetime.datetime.strptime(data_tekstu, "%Y-%m-%d").date()
print("Konvertuota data:", data_obj)

Konvertuota data: 2023-12-31

## 4. Datos pavertimas į tekstą (`strftime`)

In [11]:
dabar = datetime.date.today()
print("Formatuota data:", dabar.strftime("%Y m. %B %d d."))

Formatuota data: 2026 m. January 22 d.

## 5. Dienų skirtumo skaičiavimas

In [12]:
pradzia = datetime.date(2023, 5, 1)
pabaiga = datetime.date(2023, 5, 20)
skirtumas = pabaiga - pradzia
print("Dienų skirtumas:", skirtumas.days)

Dienų skirtumas: 19

## 6. Biudžeto paskirstymas pagal mėnesius (be pandas)

In [6]:
metinis_biudzetas = 120000
menesio_biudzetas = metinis_biudzetas / 12

for men in range(1, 13):
    data = datetime.date(2023, men, 1)
    print(f"{data.strftime('%B')} – {menesio_biudzetas:.2f} EUR")

January – 10000.00 EUR
February – 10000.00 EUR
March – 10000.00 EUR
April – 10000.00 EUR
May – 10000.00 EUR
June – 10000.00 EUR
July – 10000.00 EUR
August – 10000.00 EUR
September – 10000.00 EUR
October – 10000.00 EUR
November – 10000.00 EUR
December – 10000.00 EUR

## 7. Pirkimo datos analizė: savaitės dienos nustatymas

In [14]:
pirkimai = [
    datetime.date(2023, 1, 2),
    datetime.date(2023, 1, 7),
    datetime.date(2023, 1, 8)
]

for d in pirkimai:
    print(f"{d} - {d.strftime('%A')}")

2023-01-02 - Monday
2023-01-07 - Saturday
2023-01-08 - Sunday

## 8. Palyginimas – ar data yra tame pačiame mėnesyje

In [15]:
d1 = datetime.date(2023, 4, 5)
d2 = datetime.date(2023, 4, 25)

if d1.year == d2.year and d1.month == d2.month:
    print("Abi datos yra tame pačiame mėnesyje.")

Abi datos yra tame pačiame mėnesyje.

## 9. Sukurti visų metų 1-os dienos sąrašą

In [16]:
metai = 2023
for men in range(1, 13):
    pirma_diena = datetime.date(metai, men, 1)
    print(pirma_diena, pirma_diena.strftime('%A'))

2023-01-01 Sunday
2023-02-01 Wednesday
2023-03-01 Wednesday
2023-04-01 Saturday
2023-05-01 Monday
2023-06-01 Thursday
2023-07-01 Saturday
2023-08-01 Tuesday
2023-09-01 Friday
2023-10-01 Sunday
2023-11-01 Wednesday
2023-12-01 Friday