# `datetime` biblioteka Python kalboje

Naudinga darbui su datomis ir laikais – ypač analizuojant laikinius duomenis.

## 1. `datetime.datetime.today()` – dabartinė data ir laikas

In [1]:
import datetime

dabar = datetime.datetime.today()
print("Dabartinė data ir laikas:", dabar)

Dabartinė data ir laikas: 2026-02-01 19:21:20.568507

## 2. `datetime.date()` – konkrečios datos objektas

In [2]:
diena = datetime.date(2026, 1, 6)
print("Data:", diena)

Data: 2026-01-06

## 3. `datetime.timedelta()` – laiko skirtumas (pvz., dienų atimtis)

In [3]:
diena1 = datetime.date(2023, 6, 11)
diena2 = datetime.date(2023, 6, 15)

skirtumas = diena2 - diena1
print("Dienų skirtumas:", skirtumas.days)

Dienų skirtumas: 4

## 4. `strftime()` – datos formatavimas į tekstą

In [ ]:
dabar = datetime.datetime.today()
print("Metai-mėnuo-diena:", dabar.strftime("%Y-%m-%d"))
print("Laikas (val:min):", dabar.strftime("%H:%M"))

Metai-mėnuo-diena: 26-01-22
Laikas (val:min): 15:32

## 5. `strptime()` – konvertavimas iš teksto į datą

In [6]:
tekstas = "2025-03-26"
data = datetime.datetime.strptime(tekstas, "%Y-%m-%d")
print("Gauta data:", data)

Gauta data: 2025-03-26 00:00:00

## 6. Pavyzdys: filtravimas – ar data savaitgalis?

In [9]:
data = datetime.date(2026, 1, 6)
if data.weekday() >= 6:
    print("Tai savaitgalis")
else:
    print("Tai darbo diena")

Tai darbo diena

## 7. Generuoti datų seką kas dieną tarp dviejų datų

In [14]:
pradzia = datetime.date(2024, 6, 1)
pabaiga = datetime.date(2024, 6, 11)

diena = pradzia
while diena <= pabaiga:
    print(diena)
    diena += datetime.timedelta(days=1)

2024-06-01
2024-06-02
2024-06-03
2024-06-04
2024-06-05
2024-06-06
2024-06-07
2024-06-08
2024-06-09
2024-06-10
2024-06-11

## 8. Apskaičiuoti vartotojo amžių pagal gimimo datą

In [5]:
gimimo_data = datetime.date(1984, 10, 29)
siandien = datetime.date.today()

amzius = siandien.year - gimimo_data.year
if (siandien.month, siandien.day) < (gimimo_data.month, gimimo_data.day):
    amzius -= 1

print("Amžius:", amzius)

Amžius: 41

In [16]:
import locale
from datetime import datetime
locale.setlocale(locale.LC_TIME, 'lt_LT.UTF-8')
now = datetime.now()
day_name = now.strftime("%A")
print(day_name)

ketvirtadienis