## Python Intro Tasks


### Kintamieji ir matematiniai skaičiavimai

In [ ]:
# 1. Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.
x = 8
y = 10
print(f"Dienos uzdarbis: {x * y}")
"""comment"""

Dienos uzdarbis: 80

In [8]:
# 2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.
x = 120
y = 0.15
x = x - (x * y)
print(f"Prekes kaina su nuolaida: {x}")

Prekes kaina su nuolaida: 102.0

In [11]:
# 3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).
x = 160
y = 12
salary = x * y
print(f"Monthly salary: {salary} $")

Monthly salary: 1920 $

In [12]:
# 4. Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.
x = 40
y = 65
revenue = y - x
print(f"Revenue: {revenue} $")

Revenue: 25 $

In [16]:
# 5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).
x = 121
y = 1.21
price_without_pvm = x / y
print(price_without_pvm)

100.0

In [ ]:
# 6. Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.