# Duomenų struktūros duomenų analitikoje: list, set, dict, tuple + pandas

## Tikslas:
Pademonstruoti, kaip duomenų analitikai naudoja:
- **list** (sąrašus) – duomenų rinkiniams
- **set** – unikalioms reikšmėms
- **dict** – poroms (raktas → reikšmė)
- **tuple** – fiksuotai struktūrai
- **pandas** – realiems duomenims analizuoti

In [ ]:
import pandas as pd

## 1. List – sąrašas įrašų

In [18]:
miestai = ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, 1, 1, True, None]
print("Miestų sąrašas:", miestai)
print("Pirmas miestas:", miestai[:-1])

Miestų sąrašas: ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, 1, 1, True, None]
Pirmas miestas: ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, 1, 1, True]

In [19]:
len(miestai)

9

## 2. Set – tik unikalios reikšmės

In [20]:
unikalus_miestai = set(miestai)
print("Unikalūs miestai:", unikalus_miestai)

Unikalūs miestai: {1, 'Vilnius', 'Kaunas', None, 'Klaipėda'}

## 3. Tuple – fiksuoti įrašai (pvz. klientai)

In [23]:
klientas = ('ID001', 'Jonas', 'Vilnius', 150.0)
print("Kliento vardas:", klientas[1])

Kliento vardas: Jonas

## 4. Dict – raktas ir reikšmė (pvz. pardavimai pagal mėnesį)

In [24]:
pardavimai = {'sausis': 1000, 'vasaris': 1200, 'kovas': 900}
print("Vasario pardavimai:", pardavimai['vasaris'])

Vasario pardavimai: 1200

## 5. Duomenų analizė su `pandas`

In [ ]:
import pandas as pd

In [25]:
duomenys = [
    ('ID001', 'Jonas', 'Vilnius', 150.0),
    ('ID002', 'Ona', 'Kaunas', 200.0),
    ('ID003', 'Petras', 'Klaipėda', 175.0),
    ('ID004', 'Jonas', 'Vilnius', 180.0)
]

df = pd.DataFrame(duomenys, columns=['ID', 'Vardas', 'Miestas', 'Pardavimai'])
print(df)

# Kiek unikalių klientų vardų
print("Unikalūs vardai:", set(df['Vardas']))

# Pardavimų suma per miestus
print("Pardavimai pagal miestą:")
print(df.groupby('Miestas')['Pardavimai'].sum())

      ID  Vardas   Miestas  Pardavimai
0  ID001   Jonas   Vilnius       150.0
1  ID002     Ona    Kaunas       200.0
2  ID003  Petras  Klaipėda       175.0
3  ID004   Jonas   Vilnius       180.0
Unikalūs vardai: {'Petras', 'Jonas', 'Ona'}
Pardavimai pagal miestą:
Miestas
Kaunas      200.0
Klaipėda    175.0
Vilnius     330.0
Name: Pardavimai, dtype: float64

## Apibendrinimas
- `list` naudinga laikiniems sąrašams
- `set` padeda rasti unikalias reikšmes
- `dict` patogu kaupti poromis (laikas → reikšmė)
- `tuple` naudojama fiksuotai struktūrai
- `pandas` – pagrindinis įrankis analizei