# Lambda funkcijos Python'e ir jų taikymas duomenų analitikoje

## Kas yra lambda funkcija?

- Lambda – tai **anoniminė funkcija**, kuri neturi vardo.
- Naudojama, kai reikia **trumpai apibrėžti paprastą veiksmą**.
- Sintaksė: `lambda argumentai: veiksmas`

## Pavyzdys: paprastas dauginimas

In [3]:
dauginti_is_dvieju = lambda x: x * .2
print(dauginti_is_dvieju(250))  # 10

50.0

## Pavyzdys: lambda naudojimas `sorted()` su žodynų sąrašu

In [6]:
pardavimai = [
    {'produktas': 'A', 'kiekis': 5},
    {'produktas': 'B', 'kiekis': 2000},
    {'produktas': 'C', 'kiekis': 180}
]

rikiuota = sorted(pardavimai, key=lambda x: x['kiekis'], reverse=True)
print(rikiuota)

[{'produktas': 'B', 'kiekis': 2000}, {'produktas': 'C', 'kiekis': 180}, {'produktas': 'A', 'kiekis': 5}]

## Pavyzdys: `map()` su lambda – konvertuoti kainas iš EUR į USD

In [9]:
eur_kainos = [10, 20, 30, 80, 4, 499]
usd_kainos = list(map(lambda x: x * 1.1836, eur_kainos))  # tarkime 1 EUR = 1.1836 USD
print(usd_kainos)

[11.836, 23.672, 35.508, 94.688, 4.7344, 590.6164]

## Pavyzdys: `filter()` su lambda – atrinkti pelningus produktus

In [10]:
pelnai = [120, -30, 0, 55, 10, 58, -1]
pelningi = list(filter(lambda p: p > 0, pelnai))
print(pelningi)

[120, 55, 10, 58]

## Pavyzdys: lambda naudojimas `pandas` DataFrame'e

In [11]:
import pandas as pd

df = pd.DataFrame({
    'produktas': ['A', 'B', 'C'],
    'pardavimai': [100, 250, 300]
})

df['PVM'] = df['pardavimai'].apply(lambda x: x * 0.21)
print(df)

  produktas  pardavimai   PVM
0         A         100  21.0
1         B         250  52.5
2         C         300  63.0

In [12]:
df

  produktas  pardavimai   PVM
0         A         100  21.0
1         B         250  52.5
2         C         300  63.0

## Kada naudoti lambda?

- Kai funkcija yra **paprasta ir vienkartinė**
- Dažniausiai su: `sorted()`, `map()`, `filter()`, `apply()` (pandas)

❗ Nedera naudoti, jei funkcija yra ilga arba sudėtinga – naudoti `def` vietoj.

In [13]:

df2 = pd.DataFrame({
    'produktas': ['A', 'B', 'C', 'A', 'B', 'C'],
    'pardavimai': [100, 250, 300, 100, 250, 300]
})

In [18]:

df2['PVM'] = df2['pardavimai'].apply(lambda m: m * 0.09)
print(df2)

  produktas  pardavimai   PVM
0         A         100   9.0
1         B         250  22.5
2         C         300  27.0
3         A         100   9.0
4         B         250  22.5
5         C         300  27.0